<%- include('../partials/header') %>

  <% if (user) { %>
    <table>
      <thead>
        <tr>
          <th>Brand: </th>
          <th>Type: </th>
          <th>Price: </th>
          <th>Quantity: </th>
        </tr>
      </thead>
      <tbody>
        <% inventories.forEach(function(i) { %>
          <tr>
            <td>
              <a href="/inventories/<%= i._id %>"><%= i.brand %></a>
            </td>
            <td>
              <a href="/inventories/<%= i._id %>"><%= i.type %></a>
            </td>
            <td>
              <a href="/inventories/<%= i._id %>"><%= i.price %></a>
            </td>
            <td>
              <a href="/inventories/<%= i._id %>"><%= i.quantity %></a>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>

    <form action="/inventories" method="POST">
      <label>Brand:</label>
      <input type="text" name="brand">
      <label>Type:</label>
      <input type="text" name="type">
      <label>Price:</label>
      <input type="Number" name="price">
      <label>Quantity:</label>
      <input type="Number" name="quantity">
      
      <input type="submit" value="Add Item">
    </form>
    <% } %>

      <%- include('../partials/footer') %>