<%- include('../partials/header') %>

<% if (user) { %>
<section>
  <div>Brand: </div>
  <div><%= inventories.brand %></div>
  <div>Type: </div>
  <div><%= inventories.type %></div>
  <div>Price: </div>
  <div><%= inventories.price %></div>
  <div>Quantity: </div>
  <div><%= inventories.quantity %></div>
</section>

<form action="/inventories" method="POST">
  <label>Brand:</label>
  <input type="text" name="brand">
  <label>Type:</label>
  <input type="text" name="type">
  <label>Price:</label>
  <input type="Number" name="price">
  <label>Quantity:</label>
  <input type="Number" name="quantity">
  
  <input type="submit" value="Add Item">
</form>
<% } %>

<%- include('../partials/footer') %>