<%- include('../partials/header') %>

<form action="/inventories/<%= inventory._id %>?_method=PUT" method="POST">
  <label>Brand:</label>
  <input type="text" name="brand" value="<%= inventory.brand %>" disabled>
  <label>Type:</label>
  <input type="text" name="type" value="<%= inventory.type %>" disabled>
  <label>Price:</label>
  <input type="Number" name="price" value="<%= inventory.price %>">
  <label>Quantity:</label>
  <input type="Number" name="quantity" value="<%= inventory.quantity %>">
  <label>Notes:</label>
  <input type="String" name="notes" value="<%= inventory.notes %>">
  <input type="submit" value="Update">
</form>

<% if (user) { %>
  <form action="/inventories/<%= inventory._id %>?_method=DELETE" method="POST">
    <button type="submit">delete</button>
  </form>

<% } %>
<%- include('../partials/footer') %>